#  Load libraries

In [45]:
# Load libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn import tree

# Importing the Dataset

In [46]:
df=pd.read_csv("Play Tennis.csv")
value=['Outlook','Temprature','Humidity','Wind']
df

    Day   Outlook Temprature Humidity    Wind Play_Tennis
0    D1     Sunny        Hot     High    Weak          No
1    D2     Sunny        Hot     High  Strong          No
2    D3  Overcast        Hot     High    Weak         Yes
3    D4      Rain       Mild     High    Weak         Yes
4    D5      Rain       Cool   Normal    Weak         Yes
5    D6      Rain       Cool   Normal  Strong          No
6    D7  Overcast       Cool   Normal  Strong         Yes
7    D8     Sunny       Mild     High    Weak          No
8    D9     Sunny       Cool   Normal    Weak         Yes
9   D10      Rain       Mild   Normal    Weak         Yes
10  D11     Sunny       Mild   Normal  Strong         Yes
11  D12  Overcast       Mild     High  Strong         Yes
12  D13  Overcast        Hot   Normal    Weak         Yes
13  D14      Rain       Mild     High  Strong          No

# Data Analysis

In [47]:
len(df)           #Dataset Lenght

14

In [48]:
df.shape  #To see the number of rows and columns in our dataset:

(14, 6)

In [49]:
df.head()         #To inspect the first five records of the dataset:

  Day   Outlook Temprature Humidity    Wind Play_Tennis
0  D1     Sunny        Hot     High    Weak          No
1  D2     Sunny        Hot     High  Strong          No
2  D3  Overcast        Hot     High    Weak         Yes
3  D4      Rain       Mild     High    Weak         Yes
4  D5      Rain       Cool   Normal    Weak         Yes

In [50]:
df.tail()         #To inspect the last five records of the dataset:

    Day   Outlook Temprature Humidity    Wind Play_Tennis
9   D10      Rain       Mild   Normal    Weak         Yes
10  D11     Sunny       Mild   Normal  Strong         Yes
11  D12  Overcast       Mild     High  Strong         Yes
12  D13  Overcast        Hot   Normal    Weak         Yes
13  D14      Rain       Mild     High  Strong          No

In [51]:
df.describe()     #To see statistical details of the dataset:

       Day Outlook Temprature Humidity  Wind Play_Tennis
count   14      14         14       14    14          14
unique  14       3          3        2     2           2
top     D1   Sunny       Mild     High  Weak         Yes
freq     1       5          6        7     8           9

# Preparing the Data (Data Slicing)

In [52]:
#machine learning algorithms can only learn from numbers (int, float, doubles .. )
#so let us encode it to int
from sklearn import preprocessing
string_to_int= preprocessing.LabelEncoder()                     #encode your data
df=df.apply(string_to_int.fit_transform) #fit and transform it
df

    Day  Outlook  Temprature  Humidity  Wind  Play_Tennis
0     0        2           1         0     1            0
1     6        2           1         0     0            0
2     7        0           1         0     1            1
3     8        1           2         0     1            1
4     9        1           0         1     1            1
5    10        1           0         1     0            0
6    11        0           0         1     0            1
7    12        2           2         0     1            0
8    13        2           0         1     1            1
9     1        1           2         1     1            1
10    2        2           2         1     0            1
11    3        0           2         0     0            1
12    4        0           1         1     1            1
13    5        1           2         0     0            0

In [53]:
#To divide our data into attribute set and Label:
feature_cols = ['Outlook','Temprature','Humidity','Wind']
X = df[feature_cols ]                               #contains the attribute 
y = df.Play_Tennis                                  #contains the label

In [54]:
#To divide our data into training and test sets:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

# Training and Making Predictions

In [55]:
# perform training 
from sklearn.tree import DecisionTreeClassifier                             # import the classifier
classifier =DecisionTreeClassifier(criterion="entropy", random_state=100)     # create a classifier object
classifier.fit(X_train, y_train)                                              # fit the classifier with X and Y data or

DecisionTreeClassifier(criterion='entropy', random_state=100)

In [12]:
#Predict the response for test dataset
y_pred= classifier.predict(X_test)

In [13]:
# Model Accuracy, how often is the classifier correct?
from sklearn.metrics import accuracy_score
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8

- Now let's compare some of our predicted values with the actual values and see how accurate we were:

In [14]:
data_p=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})  
data_p

    Actual  Predicted
9        1          1
1        0          1
7        0          0
6        1          1
12       1          1

# Evaluating the Algorithm

In [15]:
from sklearn.metrics import classification_report, confusion_matrix  
print(confusion_matrix(y_test, y_pred))  
print(classification_report(y_test, y_pred))

[[1 1]
 [0 3]]
              precision    recall  f1-score   support

           0       1.00      0.50      0.67         2
           1       0.75      1.00      0.86         3

    accuracy                           0.80         5
   macro avg       0.88      0.75      0.76         5
weighted avg       0.85      0.80      0.78         5

# Visualizing Decision Trees

In [ ]:
from sklearn.tree import export_graphviz
from six import StringIO
from IPython.display import Image
import pydotplus
dot_data = StringIO()
export_graphviz(classifier, out_file=dot_data,
filled=True, rounded=True,
special_characters=True,feature_names =value,class_names=['0','1'])
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.write_png('Play Tennis.png')
Image(graph.create_png())

In [62]:
text_representation = tree.export_text(classifier)
print(text_representation)

|--- feature_2 <= 0.50
|   |--- feature_0 <= 0.50
|   |   |--- class: 1
|   |--- feature_0 >  0.50
|   |   |--- class: 0
|--- feature_2 >  0.50
|   |--- class: 1