In [4]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
sampledata = {
    'Gender' : ['male', 'female', 'female', 'male', 'female', 'female'],
    'Position' : ['CEO', 'Cleaner', 'Employee', 'Cleaner', 'CEO', 'Cleaner']
}
data = pd.DataFrame(sampledata)

In [3]:
data

   Gender  Position
0    male       CEO
1  female   Cleaner
2  female  Employee
3    male   Cleaner
4  female       CEO
5  female   Cleaner

In [6]:
le = LabelEncoder()
encoded_gender = le.fit_transform(data['Gender'])

In [7]:
encoded_gender

array([1, 0, 0, 1, 0, 0])

In [8]:
data['converted_gender']=encoded_gender

In [9]:
data

   Gender  Position  converted_gender
0    male       CEO                 1
1  female   Cleaner                 0
2  female  Employee                 0
3    male   Cleaner                 1
4  female       CEO                 0
5  female   Cleaner                 0

# One hot Encoder

In [10]:
from sklearn.preprocessing import OneHotEncoder
sampledata1 = {
    'Gender' : ['male', 'female', 'female', 'male', 'female', 'female'],
    'Position' : ['CEO', 'Cleaner', 'Employee', 'Cleaner', 'CEO', 'Cleaner']
}
data1 = pd.DataFrame(sampledata1)
gender_encoded = le.fit_transform(data1['Gender'])
gender_encoded = gender_encoded.reshape(len(gender_encoded), -1)
one = OneHotEncoder(sparse=False)

print(one.fit_transform(gender_encoded))

[[0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [1. 0.]]

In [12]:
data1['converted_gender']=gender_encoded

In [13]:
data1

   Gender  Position  converted_gender
0    male       CEO                 1
1  female   Cleaner                 0
2  female  Employee                 0
3    male   Cleaner                 1
4  female       CEO                 0
5  female   Cleaner                 0

In [21]:
pos = pd.get_dummies(data1['Position'])
print(pos)

   CEO  Cleaner  Employee
0    1        0         0
1    0        1         0
2    0        0         1
3    0        1         0
4    1        0         0
5    0        1         0