In [1]:
import pandas as pd
import numpy as nm
import matplotlib.pyplot as plt

In [23]:
df = pd.read_csv('housing.csv')
df.describe()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03
mean,68583.108984,5.977222,6.987792,3.981330,36163.516039,1.232073e+06
std,10657.991214,0.991456,1.005833,1.234137,9925.650114,3.531176e+05
min,17796.631190,2.644304,3.236194,2.000000,172.610686,1.593866e+04
25%,61480.562388,5.322283,6.299250,3.140000,29403.928702,9.975771e+05
50%,68804.286404,5.970429,7.002902,4.050000,36199.406689,1.232669e+06
75%,75783.338666,6.650808,7.665871,4.490000,42861.290769,1.471210e+06
max,107701.748378,9.519088,10.759588,6.500000,69621.713378,2.469066e+06

In [31]:
fetures=df.iloc[:,1:-2]
target=df.iloc[:,-2]

In [32]:
fetures

,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
0,5.682861,7.009188,4.09,23086.800503
1,6.002900,6.730821,3.09,40173.072174
2,5.865890,8.512727,5.13,36882.159400
3,7.188236,5.586729,3.26,34310.242831
4,5.040555,7.839388,4.23,26354.109472
...,...,...,...,...
4995,7.830362,6.137356,3.46,22837.361035
4996,6.999135,6.576763,4.02,25616.115489
4997,7.250591,4.805081,2.13,33266.145490
4998,5.534388,7.130144,5.44,42625.620156
4999,5.992305,6.792336,4.07,46501.283803

In [33]:
target

0       1.059034e+06
1       1.505891e+06
2       1.058988e+06
3       1.260617e+06
4       6.309435e+05
            ...
4995    1.060194e+06
4996    1.482618e+06
4997    1.030730e+06
4998    1.198657e+06
4999    1.298950e+06
Name: Price, Length: 5000, dtype: float64

In [34]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [35]:
from sklearn.linear_model import LinearRegression
mlr=LinearRegression()
mlr.fit(x_train,y_train)

LinearRegression()

In [36]:
print("Intercept",mlr.intercept_)
print("Coefficient",mlr.coef_)

Intercept -1118919.8085410388
Coefficient [1.65940741e+05 1.11774621e+05 9.47068606e+03 1.49411446e+01]

In [37]:
predicted_price = mlr.predict([[5.682861,7.009188,4.09,23086.800503]])
print(predicted_price)

[991226.02171329]